In [3]:
print("epale mundo")

epale mundo

### Python
* Variables
* Sintaxis
    - Tipos de errores
* Operadores matematicos básicos
* Operadores de comparación
* Operadores lógicos
* Condicionales
    -simples
    -Anidados
    -Encadenados
* Ciclos
    - finitos
    - infinitos
* Funciones
* Estructuras de datos
    - Cadenas de caracteres
    - Enteros 
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas

In [4]:
# variables
# minuscula
name = "heroe"
apellido = 'primero'

In [5]:
last_name = 'primero'

#errores por mala practica
LastName = ''
last-name = ''
last.name = ''

'heroe'

In [17]:
# OPERADORES MATEMATICOS BASICOS
number_1 = 10
number_2 = 20

# suma
sum_two = number_1 + number_2
print ("Suma:", sum_two)

# resta
resta = number_1 - number_2
print ("Resta:", resta)

# multiplicacion
multi = number_1 * number_2
print ("Multiplicacion:", multi)

# division
div = number_1 / number_2
print ("Division:", div)

Suma: 30
Resta: -10
Multiplicacion: 200
Division: 0.5

In [26]:
# OPERADORES MATEMATICOS BASICOS
number_1 = input( "Ingrese el primer numero: " )
number_1 = float (number_1)
number_2 = input( "Ingrese el segundo numero: " )
number_2 = float (number_2)

# suma
sum_two = number_1 + number_2
print ("Suma:", sum_two)

# resta
resta = number_1 - number_2
print ("Resta:", resta)

# multiplicacion
multi = number_1 * number_2
print ("Multiplicacion:", multi)

# division
div = number_1 / number_2
print ("Division:", div)

Suma: 27.89
Resta: 3.1899999999999995
Multiplicacion: 191.91899999999998
Division: 1.2582995951417004

In [22]:
"11" + "22"

'1122'

In [23]:
"aa" + "bb"

'aabb'

In [20]:
type (number_1)

str

In [37]:
# condicional
# operadores de comparación
# mayor >
# menor <
# mayor igual >= 
# menor igual <=
# igual? ==
# diferente !=

number_1 = int (input ("Número 1: "))
number_2 = int (input("Número 2: "))


if number_1 > number_2:
    print("Número 1 es mayor")
else:
    print ("Número 2 es menor")

Número 2 es menor

In [29]:
2 > 2

False

In [27]:
# OPERADORES MATEMATICOS BASICOS
number_1 = float (input( "Ingrese el primer numero: " ))

number_2 = float (input( "Ingrese el segundo numero: " ))

operation = input("Seleccione su operación: suma, resta, multi, div")


# suma
sum_two = number_1 + number_2
print ("Suma:", sum_two)

# resta
resta = number_1 - number_2
print ("Resta:", resta)

# multiplicacion
multi = number_1 * number_2
print ("Multiplicacion:", multi)

# division
div = number_1 / number_2
print ("Division:", div)

Suma: 5501.75
Resta: -5411.33
Multiplicacion: 246690.1734
Division: 0.008285470279701055

In [4]:
# OPERADORES MATEMATICOS BASICOS
# Condicionales encadenados

number_1 = float (input( "Ingrese el primer numero: " ))

number_2 = float (input( "Ingrese el segundo numero: " ))

operation = input("Seleccione su operación: suma, resta, multi, div")


if operation == "suma":
    # suma
    sum_two = number_1 + number_2
    print ("Suma:", sum_two)

elif operation == "resta":
    # resta
    # resta = number_1 - number_2
    print ("Resta:", resta)

elif operation == "multi":
    # multiplicacion
    multi = number_1 * number_2
    print ("Multiplicacion:", multi)

elif operation == "division":
    # division
    div = number_1 / number_2
    print ("Division:", div)
else:
    print("Condicion invalida")


if number_1 > number_2:
    print("Número 1 es mayor")
else:
    print ("Número 2 es menor")

Condicion invalida
Número 2 es menor

In [6]:
# Ciclos finitos
# listas
"cadenas"
#20
#12.33


names = [ 
    "jose",
    "maria",
     "juan"
     ]

# indice 0, 1, 2 ....
numbers = [10, 20, 30.5, ]

In [9]:
print(names)

['jose', 'maria', 'juan']

In [13]:
names[2]
numbers[2]

30.5

In [15]:
# Imprime el ultimo numero que es -1
numbers[-1]

30.5

In [16]:
numbers[-3]

10

In [18]:
# agregar un elemento en la lista de nombres
names.append("josefino")

In [19]:
names

['jose', 'maria', 'juan', 'josefino']

In [21]:
# remover un elemento
names.pop(0)

'jose'

In [23]:
names

['maria', 'juan', 'josefino']

In [24]:
names.pop(1)

'juan'

In [25]:
names

['maria', 'josefino']

In [26]:
# incorporo nombres en mi lista
names.append("ruperto")

In [27]:
names

['maria', 'josefino', 'ruperto']

In [28]:
names.pop(-1)

'ruperto'

In [30]:
names = ['maria', 'josefino', "roberto", "jesus", "juan"]

In [32]:
# ciclos finitos: for

for n in names:
    print(n)

maria
josefino
roberto
jesus
juan

In [33]:
len(names)

5

In [42]:
for n in range (3,7):
    print (n)

3
4
5
6

In [44]:
for name in range( len(names)):
    print(name)

0
1
2
3
4

In [45]:
names

['maria', 'josefino', 'roberto', 'jesus', 'juan']

In [47]:
for name in range( len(names)):
    print(names[name])

maria
josefino
roberto
jesus
juan

In [50]:
for name in range( len(names)):
    if names[name] == "juan":
    print("encontre a Juan en la posicion", name)

IndentationError: expected an indented block after 'if' statement on line 2 (2504716881.py, line 3)